/* ----- Default formatting ----- */

@font-face {
    font-family: GCW Zero;
    src: url('../fonts/gcwzero.eot');
    src: url('../fonts/gcwzero.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gcwzero.svg?#GCW Zero') format('svg'),
        url('../fonts/gcwzero.ttf') format('truetype');
    font-weight: 400; /* Default font weight. */
}

@font-face {
    font-family: Levenim MT;
    src: url(../fonts/lvnm.ttf);
    font-weight: 400; /* Default font weight. */
}

body {
    padding: 0;
    margin: 0;
    background: #212121; /*#e5e5e5;*/
    font-family: Levenim MT, Verdana, Garamond, sans-serif;
    font-size: 1em;
    color: black;
    text-align: left;
}

a {
    color: rgb(154, 77, 56);/*#3d6796;rgb(154, 77, 56);*/
    text-decoration: none;
    outline-style: none;
}

a:link {
    color: rgb(154, 77, 56);
}

a:visited {
    color: rgb(154, 77, 56);
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
}

h1 {
    margin: 15px 0;
    padding: 0;
    font-family: Levenim MT, Verdana, Garamond, sans-serif;
    font-size: 1.5em;
}

.tile_box_text h1 {
    margin: 10px 0;
    padding: 0;
    font-family: GCW Zero, Levenim MT, Verdana, Garamond, sans-serif;
    font-size: 1em;
    color: black;
    font-weight: normal;
}

h2 {
    clear: both;
    margin: 15px 0;
    padding: 0;
    font-family: Levenim MT, Verdana, Garamond, sans-serif;
    font-size: 1em;
    color: black;
}

p {
    margin: 10px 0;
    padding: 0;
}

blockquote.block_style {
    margin: 10px;
    padding: 10px;
    background-color: rgb(154, 77, 56);
    border-top: 1px solid #363636;
    border-bottom: 1px solid #363636;
    background-image: url(../images/quote1-scaled2.png), url(../images/quote2-scaled2.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    text-indent: 2em;
    font-style: italic;
}

/* ----- Header ----- */

#header {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 10px 0 0 0;
    border: 0 solid black;
    background: #363636;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
}

#header_box {
    position: relative;
    width: 800px;
    height: auto;
    padding: 10px 0;
    margin: 0 auto;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em #292929;
}

.gcwlogo1 {
    font-family: GCW Zero, Levenim MT, Verdana, Garamond, sans-serif;
    font-size: 1em;
    color: white;
}

.gcwlogo2 {
    font-family: GCW Zero, Levenim MT, Verdana, Garamond, sans-serif;
    font-size: 1em;
    color: rgb(154, 77, 56);
}

/* ----- Header: Menu ----- */

#navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background: #363636;
    border: 0;
    list-style: none;
    text-align: left;
    z-index: 5;
}

#navigation li {
    display: block;
    float: left;
    padding: 0;
    margin: 0 0 0 0;
}

#navigation a {
    display: block;
    /*padding: 10px 15px 10px 15px;
    margin: 0;*/
    padding: 5px 10px 5px 10px;
    margin: 5px 5px;
    border: 0;
    border-radius: 5px;
    background: #363636;
    color: gray;
    text-decoration: none;
    outline-style: none;
    transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

/*#navigation a:active,
#navigation a:visited,*/
#navigation a:hover {
    background: gray; /*#727272; #a9a9aa;*/
    color: black;
}

/* ----- Header: Dropdown-menu ----- */

#navigation ul { /* Matches the ul within li, which in turn is part of the #navigation ul. */
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    background: #363636;
    /*border-radius: 0 0 5px 5px;*/
    border-radius: 5px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
    transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
    -o-transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
    -moz-transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
    -webkit-transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
}

#navigation ul li { /* Matches the li within ul of the drop down section of the menu. */
    float: none;
    padding: 0;
    margin: 0 0 0 0;
}

#navigation ul a {
    white-space: nowrap;
}

#navigation li:hover ul {
    visibility: visible;
    opacity: 1;
}

/* Apply hover effect only on submenu. */
/*#navigation > li li:hover a {
    background: gray;
    color: black;
}*/

/* Apply hover effect on all a within hovered li. */
#navigation li:hover a {
    background: gray; /*#727272;*/
    color: black;
}

/* Reset hover effect for all submenu a. */
#navigation li:hover ul a {
    background: #363636;
    color: gray;
}

/* Apply separate hover effect for all submenu a. */
#navigation li:hover ul a:hover {
    background: gray;
    color: black;
}

/*#navigation > li li:last-child a {
    border-radius: 0 0 5px 5px;
}*/

/* ----- Container ----- */

#container {
    position: relative;
    padding: 0;
    width: 800px;
    margin: 0 auto;
    border: 0 solid #a9a9a9;
    background: transparent;
    text-align: left;
}

/* ----- Content ----- */

#content {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 15px;
    margin: 10px 0;
    border: 0 solid #a9a9a9;
    background: rgb(198, 196, 199); /*rgb(188, 186, 189); rgb(226, 224, 227);#363636;*/
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/* ----- Banner ----- */

#banner {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 213px;
    padding: 0;
    margin: 10px 0;
    border: 0;
    background: url(../images/banner_2.png) gray;/*#363636;*/
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#banner a {
    position: relative;
    display: block;
    width: auto;
    height: 213px;
    padding: 0;
    margin: 0;
    border: 0;
}

/* ----- Tiles ----- */

.tile_left {
    position: relative;
    float: left;
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

.tile_right {
    position: relative;
    float: right;
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
}

.tile_box_left {
    position: relative;
    width: auto;
    height: 200px;
    padding: 0;
    margin: 0 5px 10px 0;
    border: 0 solid #a9a9a9;
    background: url(../images/kickstarter-logo-dark-small-2.png) black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.tile_box_right {
    position: relative;
    width: auto;
    height: 200px;
    padding: 0;
    margin: 0 0 10px 5px;
    border: 0 solid #a9a9a9;
    background: url(../images/games.png) black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.tile_box_text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    padding: 0;
    /*background: #363636;*//*#e5e5e5;*/
    border-radius: 0 0 5px 5px; /* Apply border radius both the container and the anchor and anchor events. */
    /*opacity:0.8;
    filter:alpha(opacity=80);*/ /* For IE8 and earlier */
    font-family: Levenim MT, Verdana, Garamond, sans-serif;
    font-size: 1em;
    color: white;
}

.tile_box_text h1 {
    color: white;
}

.tile_box_text a {
    display: block;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 5px 5px; /* Apply border radius both the container and the anchor and anchor events. */
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(54, 54, 54) transparent;
    /* RGBa with 0.8 opacity */
    background: rgba(54, 54, 54, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc363636, endColorstr=#cc363636);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc363636, endColorstr=#cc363636)";
    color: white;
    text-decoration: none;
    outline-style: none;
    transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

.tile_box_text a:hover {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(114, 114, 114) transparent;
    /* RGBa with 0.8 opacity */
    background: rgba(114, 114, 114, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc727272, endColorstr=#cc727272);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc363636, endColorstr=#cc363636)";
    border-radius: 0 0 5px 5px; /* Apply border radius both the container and the anchor and anchor events. */
    color: white;
}

/* ----- Footer ----- */

#footer {
    position: relative;
    clear: both;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0 10px 0;
    border: 0 solid black;
}

#footer_box {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    color: gray;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em #292929;
    background: #363636;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#footer_box a {
    color: gray;
}

/*#footer a {
    color: gray;
    text-decoration: none;
    outline-style: none;
}*/
#footer a:link {color: gray;}
#footer a:visited {color: gray;}
#footer a:hover {color: black;}
#footer a:active {color: black;}

.social_img {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.social_img:hover {
    opacity: 1;
}

a.social {
    margin-right: 5px;
}

/* ----- Slideshow ----- */

#carousel_container {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 10px 0;
    border: 0 solid #a9a9a9;
    background: black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

#carousel {
    position: relative;
    width: auto;
    height: 450px;
    padding: 0;
    margin: 0;
    background: black;
    border-radius: 5px;
}
#carousel.black {
    background: url(../images/x_console_pic_scaled_black.png) black no-repeat;
}

#carousel.white {
    background: url(../images/x_console_pic_scaled_white.png) black no-repeat;
}

#slideshow {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 409px;
    padding: 5px 0;
    margin: 10px 0;
    border: 0;
    background: rgb(198, 196, 199);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.slideshow1 {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
    border-radius: 5px;
}

.slideshow2 {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
}

#slideshow_overlay_container_bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

#slideshow_overlay_container {
    position: relative;
    float: right;
    right: 50%;
    padding: 0;
    margin: 0 auto;
    border: 0;
}

#slideshow_overlay {
    position: relative;
    float: left;
    right: -50%;
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    overflow: hidden;
    z-index: 3;
}

#slideshow_overlay li {
    display: block;
    position: relative;
    float: left;
    padding: 10px 10px 0 0;
    margin: 23px 5px;
    border: 0 solid #363636; 
    border-radius: 10px;
    background: #363636;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset;
    z-index: 3;
    cursor: pointer;
}

/*#slideshow_overlay li:hover {
    background: grey;
}*/

/* Needed more specific rule to override the previous li css properties. */
#slideshow_overlay .active_list {
    background: grey;
}

.pause, .play {
    position: relative;
    display: block;
    right: -50%;
    float: left;
    width: 10px;
    height: 10px;
    margin: 23px 5px;
    text-decoration: none;
    outline-style: none;
    z-index: 3;
}

.play div {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #363636;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset;
    transition: border-left .25s ease-in-out;
    -o-transition: border-left .25s ease-in-out;
    -moz-transition: border-left .25s ease-in-out;
    -webkit-transition: border-left .25s ease-in-out;
}

.play:hover div {
    border-left: 10px solid gray;
}

.pause div {
    float: left;
    width: 3px;
    height: 10px;
    margin: 0 1px;
    background: #363636;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5) inset;
    transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}

.pause:hover div {
    background: gray;
}

.controls {
    position: relative;
    display: block;
    right: -50%;
    float: left;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 18px 5px;
    font-size: 15px;
    text-decoration: none;
    outline-style: none;
    text-align: center;
    font-weight: bold;
    /*line-height: 1em;*/
    z-index: 3;
}

.controls span{
    vertical-align: middle;
    color: #363636;
    transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
}

.controls:hover span{
    color: gray;
}

/* ----- Table ----- */

.table {
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin: 10px 0;
    display: table;
}

.table-row {
    display: table-row;
}

.row0 {
    display: table-cell;
    padding: 10px;
    border: solid #363636;
    border-width: 1px 0 1px 0;
    background-color: gray; /*rgb(154, 77, 56);*/
}

.row1 {
    display: table-cell;
    padding: 10px;
    border: 0 solid #C2C2C2;
}

/* ----- Gallery ----- */

.gallery {
    padding: 0;
    margin: -5px -5px;
    border: 0;
    list-style: none;
    overflow: hidden;
}

.gallery li {
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 5px;
    border-radius: 5px;
    background: gray;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.gallery a {
    display: block;
    opacity: 1;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    outline-style: none;
    transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.gallery a:hover {
    opacity: 0.8;
    border-radius: 5px;
}

.gallery img {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.gallery span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(54, 54, 54) transparent;
    /* RGBa with 0.8 opacity */
    background: rgba(54, 54, 54, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc363636, endColorstr=#cc363636);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc363636, endColorstr=#cc363636)";
    border-radius: 0 0 5px 5px;
}

/* ----- FAQ ----- */

.faq_question {
    margin-bottom: 10px;
    color: rgb(154, 77, 56);
    cursor: pointer;
}

.faq_question:hover {
    color: black;
    text-decoration: underline;
}

.faq_question:active {
    color: black;
}

.faq_answer {
    display: none;
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
}

#faq li {
    margin: 10px 0;
}

/* ----- Etc ----- */

.text_bold {
    font-weight: bold;
}

.text_italic {
    font-style: italic;
}

.circle_small {
    width: 20px;
    border-radius: 50%;
    border: solid #363636;
    border-width: 1px 0 1px 0;
    background-color: gray;
}

.grayscale {
    filter: url(../images/grayscale.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

.grayscale:hover {
    filter: none;
}

.image_center {
    /*margin: 0 auto;*/
    text-align: center;
}

.minichart {
    width: 600px;
    height: 270px;
}
